# Binaries
bin/
*.exe
*.test
*.prof

# Go
vendor/
go.sum

# Environments
.env
.env.local

# Databases and Persistent Storage
*.db
data/
payflow-bolt/

# Docker
.docker/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Project Specific
payflow/monitor/monitor
payflow/chaos/chaos
payflow/gateway/gateway
payflow/coordinator/coordinator
payflow/worker/worker
payflow/payment-log/payment-log
